@import "tailwindcss";

@theme {
  --animate-blob: blob 7s infinite;
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
    33% {
      transform: translate(40px, -60px) scale(1.15) rotate(120deg);
    }
    66% {
      transform: translate(-30px, 30px) scale(0.85) rotate(240deg);
    }
    100% {
      transform: translate(0px, 0px) scale(1) rotate(360deg);
    }
  }
}

@layer base {
  html, body {
    @apply h-full overflow-hidden transition-colors duration-500;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
  
  .dark body {
    @apply bg-[#0f172a] text-[#E0E0E0];
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
}